
<div class="container">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put,:class => 'form-signin' }) do |f| %>
  <%= devise_error_messages! %>
  <h2> <%= t('common.edit') %>  <%= resource_name.to_s.humanize %></h2>
  <%= f.text_field :full_name, :autofocus => true,:class =>'input-block-level', :placeholder=>t('devise.registrations.edit.full_name')  %>

  <%= f.text_field :birthday, :title => "Формат: dd/mm/YYYY", :placeholder=>t('devise.registrations.edit.birthday')  %>

  <%= f.email_field :email, :autofocus => true,:class =>'input-block-level', :placeholder=>t('devise.registrations.edit.email')  %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <i><%= t('devise.registrations.edit.leave_blank') %></i><br />
  <%= f.password_field :password, :class =>'input-block-level', :placeholder=>t('common.password') %>
  <%= f.password_field :password_confirmation, :class =>'input-block-level', :placeholder=>t('common.password_confirm') %>
  <i><%= t('devise.registrations.edit.get_password') %></i><br />
  <%= f.password_field :current_password, :class =>'input-block-level', :placeholder=>t('common.password_confirm') %>

  <%= f.select :locale, User::LOCALES  %>   <br>


      <%= f.submit t('common.update'),:class=>"btn btn-large btn-primary" %>
<% end %>
 </div>
